@import url('https://fonts.googleapis.com/css?family=Merriweather:400i|Montserrat:400,500,700');

html{
    font-size: 6px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.33;
    color: #444;
    text-align: center;
    background-color: #fff;
}


/*      Header      */

.agency-header {
    background-color: #f6f6f6;
    width: 100%;
}

.svg-image {
    padding: 1.4rem 0 1rem;
}

/*      Banner      */

.banner {
    margin: 3rem auto;
}

.banner-text {
    padding: 0;
    order: 2;
}
.banner-h1 {
    font-weight: 700;
}
.banner-p {
    padding: 2rem 0 3rem;
}


/*      Button      */

.agency-button,
.agency-button:visited {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 2rem 3rem;
    background-color: #f7931d;
    color: #fff;
    box-shadow: 0 15px 30px -10px rgba(148, 71, 0, .3);
    &:hover {
        background-color: #f7931d;
        color: #fff;
        opacity: .8;
        box-shadow: 0 15px 40px 0px rgba(148, 71, 0, .2);
        transform: translate(3px, -3px);
        text-decoration: none;
    }

}

/*      Trusted Logos      */

.width-100 {
    width: 100%;
    background-color: #f7931d;
}


.orange-head {
    color: #fff;
    opacity: .3;
    font-weight: 700;
    font-size: 3rem;
    padding: 2rem auto;
}

.logos {
    display: flex;
    align-items: center;
    margin: 1rem auto;
}

.ref-logo {
    padding: 2rem;
    width: 85%;

}

/*   Tab menu   */

.section-head {
    color: #c2c2c2;
    font-weight: 700;
    font-size: 3rem;
    padding: 2rem 0 0;
    margin-top: 6rem;
}

.nav-tabs li{
    color: #444;
    border: none;
    margin: 6rem;    
}


.tablink {
    background: #fff;
    border: none;
    outline: none;
    padding: 4rem 1rem 0;
    font-size: 1.8rem;
    transition: 0.5s ease;
    border-bottom: 1px solid #fff;
    &:hover {
        color: #f7931d;
        border-bottom: 1px solid #f7931d;
    }
}

.tabcontent {
    display: none;
    margin: 2.7rem;
}



/* Discover the endless... */

.discover {
    margin: 8rem auto;
}

.skewed-bg {
    width: 100%;
    background-color: #f6f7fb;
    transform: skewY(-1deg);
    height: 1420px;
    margin-top: -100px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    left: 0;
}

.subhead-p {
    display: inline-block;
    font-size: 2rem;
    color: #9b9b9b;
    padding: 0;
}

.advantages,
.advantages-2 {
    margin: 2rem auto;
    p {
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.adv-icon {
    margin: 2rem;
}

.advantages div,
.advantages-2 div {
    margin: 1rem auto;
    padding: 1rem;
    transition: 0.5s ease;
    &:hover {
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 3px 50px 10px rgba(0,0,0,0.05);
        }
}

/* Features */

.features,
.features-2 {
    margin: 2rem auto;
}

.features-h4,
.features-icon {
    margin-right: 1.6rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.features-title {
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 1.6rem 0;
}

.features-p {
    font-size: 1.5rem;
}

.link {
    color: #f7931d;
    &:hover {
        text-decoration: none;
        color: #f1ab5a;
    }
}

/* Price */

.table-wrap {
    margin: 6rem auto;
    .table-head {
        background-color: #f7931d;
        margin: 3rem auto;
        th {
            text-align: center;
        }
    }
}


.support-cta {
    margin: 6rem auto;
}

/* Opinions */

.opinion-card img,
.awards-card img {
    margin: 2rem auto;
}

.opinion-card {
    font-size: 1.4rem;
    margin: 4rem auto;
}

.opinion-p {
    font-family: 'Merriweather', serif;
    color: #9b9b9b;
    font-weight: 400;
    padding: 1rem 3rem;
}

.opinion-h4 {
    font-weight: 500;
    margin: 0 auto;
}

.company-name {
    color: #9b9b9b;
    text-transform: uppercase;
    margin: 0 auto;
}

/* Awards */

.awards {
    width: 100%;
    background: #f7931d;
}

   
.awards-card img {
    width: 20%;
}

.awards-h4 {
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 1.5rem auto;
}

/* team */

.team-photo img{
    margin: 4rem auto;
}

.section-head-team {
    font-size: 2.6rem;
    font-weight: 600;
}

.team-title {
    padding: 0;
    margin: 0;
}

.team-bg {
    position: absolute;
    width: 100%;
    background-color: #f6f7fb;
    height: 256px;
    margin-top: -228px;
    left: 0;
    z-index: -1;
}


/*   Media Querri's   */

@media screen and ( min-width: 576px ){
    html {
        font-size: 7px;
    }
}

@media screen and ( min-width: 768px ){
    html {
        font-size: 8px;
    }

    .skewed-bg {
        margin-top: -190px;
        height: 1740px;
    }

    .team-bg {
        height: 280px;
        margin-top: -269px;
    }

    .awards-pic {
        width: 30%;
    }

}

@media screen and ( min-width: 992px ){
    html {
        font-size: 8px;
    }

    .banner-img {
        margin-top: 0;
    }

    .banner-text {
        text-align: left;
    }

    #notebook-video {
        padding-bottom: 70%;
        height: 0;
        background: url('/img/banner-img.png') center center no-repeat;
        iframe {
            box-sizing: border-box;
            background-size: contain;
            position: absolute;
            padding: 7.3% 13% 12.8% 13%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .skewed-bg {
        margin-top: -170px;
        height: 630px;
    }
    .advantages {
        margin-top: 0;
    }

    .thumbnail {
        height: 370px;
    }
    .support-icon {
        height: 90px;
    }

    .awards-card img {
        width: 20%;
    }

    .awards-card {
        margin-bottom: 2rem;
    }

    .team-bg {
        height: 250px;
        margin-top: -243px;
    }
   
}

@media screen and ( min-width: 1200px ){

    html {
        font-size: 10px;
    }

    .banner {
        margin-top: 5rem;
    }

    #notebook-video {
        padding-bottom: 70%;
        height: 0;
        background: url('/img/banner-img.png') center center no-repeat;
        iframe {
            box-sizing: border-box;
            background-size: contain;
            position: absolute;
            padding: 4.5% 19% 24% 19%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


    .banner-text {
        text-align: left;
    }

    .banner-img {
        margin-top: 0;
    }


    .skewed-bg {
        margin-top: -270px;
        height: 740px;
    }


    .thumbnail {
        height: 440px;
    }

    .support-icon {
        height: 90px;
    }

    .awards-card img {
        width: 25%;
    }

    .awards-card {
        margin-bottom: 2rem;
    }

    .team-bg {
        height: 336px;
        margin-top: -293px;
    }


}